body {
  font-family: 'Maven Pro', sans-serif;
}
img {cursor: pointer;}
.setting-container {text-align: right; margin: 20px 0;}
h4 {display: inline-block; margin-right: 10px; color: #FF6347;}
span {font-size: 14px; font-weight: normal; color: #8A8A8A;}
.imgWrapper {display: inline-block;}
img {width: 40px;}

.setting {position: fixed; top: 60px; right: 30px; display: none; z-index: 1;}

#clock{
  width: 200px;
  height: 200px;
  border: 5px solid #FFA500;
  border-radius: 50%;
  margin: 50px auto 0;
  text-align: center;
}

.min, .sec {font-size: 50px; display: inline; color: #000;}
.sec {font-size: 45px;}
.timer {margin-top: 30%;}
.play {
  text-align: center;
  margin: 30px;
}

#pomodoro_setup {
  text-align: right;
}
input[type=text] {width: 50px; margin: 5px;}
input[type=submit] {margin-top: 15px;}

footer {
  position: fixed;
  bottom: 20px;
  margin: 20px;
  left: 40px;
}

.github_repo {
  color: rgb(18, 134, 111);
  text-decoration: underline;
}
